<div class="sidebar">
    <div class="sidebar-item pt-3 ml-2 ">
        <a href="#" class="text-decoration-none "><a  class="btn btn-outline-dark btn-block " href="/" >HOME</a></a>
    </div>
    <div class="sidebar-item mt-3 ml-2">
        <a href="#" class="text-decoration-none"><a href="/addItem" class="btn btn-outline-dark btn-block"> ADD ITEM</a></a>
    </div>
    <div class="sidebar-item mt-3 ml-2">
        <a href="#" class="text-decoration-none"><a href="/history" class="btn btn-outline-dark btn-block"> HISTORY</a></a>
    </div>
    <div class="sidebar-item mt-3 ml-2">
        <a href="#" class="text-decoration-none"><a href="/branchFilter" class="btn btn-outline-dark btn-block"> BRANCH FILTER</a></a>
    </div>
    <div class="sidebar-item mt-3 ml-2">
        <a href="#" class="text-decoration-none"><a  href="/dateFilter" class="btn btn-outline-dark btn-block"> DATE FILTER</a></a>
    </div>
    <div class="sidebar-item mt-3 ml-2">
        <a href="#" class="text-decoration-none"><a  href="/empFilter" class="btn btn-outline-dark btn-block active"> EMPLOYEE FILTER</a></a>
    </div>

</div>